<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Home</string>
		<key>menuName</key>
		<string>Home</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>84</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Add</string>
		<key>menuName</key>
		<string>AddNew</string>
		<key>colors</key>
		<array>
			<integer>249</integer>
			<integer>194</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Find</string>
		<key>menuName</key>
		<string>Find</string>
		<key>colors</key>
		<array>
			<integer>32</integer>
			<integer>188</integer>
			<integer>32</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Clock</string>
		<key>menuName</key>
		<string>NotifyMe</string>
		<key>colors</key>
		<array>
			<integer>207</integer>
			<integer>34</integer>
			<integer>156</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>Location</string>
		<key>menuName</key>
		<string>LocateItems</string>
		<key>colors</key>
		<array>
			<integer>14</integer>
			<integer>88</integer>
			<integer>149</integer>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>SignOut</string>
		<key>menuName</key>
		<string>SignOut</string>
		<key>colors</key>
		<array>
			<integer>15</integer>
			<integer>193</integer>
			<integer>231</integer>
		</array>
	</dict>
</array>
</plist>
